mat-card{
    width:400px;
    margin:100px auto;
    padding:20px;
}

mat-form-field{
    width:100%;
    margin-bottom:15px;
}

button{
    width:100%;
}
 error-message {

    color: #d32f2f;
    background-color: #fdecea;

    border: 1px solid #ef9a9a;

    padding: 10px;

    margin-bottom: 16px;

    border-radius: 4px;

    text-align: center;

    font-size: 14px;

    font-weight: 500;

}
